.article-entry h2::before {
  content: '';
  height: 37px;
  width: 8px;
  top: 8px;
  background-color: #f22f27;
  display: inline-block;
  position: relative;
  margin-right: 6px;
}
.article-entry h3::before {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #ff5d52;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  bottom: 4px;
  border-radius: 35%;
}
.article-entry h4::before {
  content: '';
  height: 3px;
  width: 8px;
  background-color: #ff887a;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  bottom: 7px;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  margin: 2.5rem 0 2rem;
}
.article-entry a {
  color: #d61616;
  text-decoration: none;
  border-bottom: 1px solid #d61616;
}
.article-entry a:hover {
  border-bottom: 2px solid #ff1919;
  color: #ff1919;
}
.article-entry .highlight {
  transition: all 0.3s;
  z-index: 999;
}
.article-entry .highlight:hover {
  transform: scale(1.1);
  box-shadow: 0 0 65px -20px rgba(45,45,45,0.478);
}
.article-entry .line {
  font-family: JetBrains Mono;
}
.article-entry .keyword {
  color: #c28ee5 !important;
}
.article-entry .built_in {
  color: #f0665a !important;
}
.article-entry .string {
  color: #ffbd69 !important;
}
.article-entry .title {
  color: #70b6ff !important;
}
.article-entry .comment {
  color: #72b672 !important;
}
.article-entry .number {
  color: #f28c50 !important;
}
.article-entry code {
  background-color: #fff3f0;
  color: #ff9088;
  border-radius: 5px;
}
.article-entry blockquote {
  border: none;
  position: relative;
  overflow: hidden;
  padding: 3rem 1.5rem 1.25rem;
}
.article-entry blockquote::before {
  content: '';
  height: 100%;
  width: 3px;
  top: 0px;
  left: 0px;
  background-color: #f22f27;
  display: inline-block;
  position: absolute;
  margin-right: 6px;
}
.article-entry blockquote::after {
  content: '‘ ‘';
  font-size: 4rem;
  color: #f22f27;
  display: inline-block;
  position: absolute;
  top: -7px;
  letter-spacing: -6px;
}
.toc-list-item a:hover {
  color: #325f83;
}
.article-entry .article-more-link {
  transform: rotate(0);
  transform-origin: center;
}
.article-entry .article-more-link:hover {
  border: none;
  animation: more 0.5s;
}
.sidebar {
  left: -8rem;
  width: 8rem;
}
.sidebar.on {
  left: 0;
}
.content.on {
  margin-left: 0 !important;
}
.navbar-toggle {
  left: 9.5rem;
}
.search-form-wrap {
  right: 8rem;
}
@media (min-width: 768px) {
  .outer,
  .wrap {
    width: 80rem !important;
  }
}
@media (max-width: 768px) {
  .tocbot {
    display: none !important;
  }
  .content.on {
    transform: translateX(8rem);
  }
}
@-moz-keyframes more {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes more {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@-o-keyframes more {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes more {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
